# Server
PORT=2494
BASE_URL=https://artedigitaldata.com

# MongoDB
MONGODB_URI=mongodb://localhost:27017/artedigital

# JWT
JWT_SECRET=tu_jwt_secret_seguro_aqui

# Admin Maestro (Seeding)
STARTING_ADMIN_USER=admin
STARTING_ADMIN_PASS=tu_password_seguro_aqui

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Deploy - VPS
VPS_HOST=tu_ip_vps
VPS_PORT=tu_puerto_ssh
VPS_USER=root
VPS_PASS=tu_vps_pass_aqui

# Deploy - FTP
FTP_HOST=tu_ftp_host
FTP_USER=tu_ftp_user
FTP_PASS=tu_ftp_pass

# GitHub
GITHUB_TOKEN=tu_github_token
GITHUB_REPO=tu_usuario/artedigital
